#home_img_avatar {
  width: 100px;
  height: 100px;
  float: left;
}

#acu_home_infos_content {
  text-align: justify;
  text-justify: inter-word;
}

#acu_home_infos_content p {
  margin-bottom: 20px;
}

#acu_news_content {
  background-color: lightgrey;
  text-align: center;
  line-height: 100px;
}
