body {
  background-color: #EBEBEB;
  font-family: 'Roboto', sans-serif;
}

footer {
  color: white;
  text-align: center;
  line-height: 55px;
  background-color: #333;
  height: 55px;
}

abbr {
  cursor: help;
}

p {
  margin: 0;
}

.navbar-default {
  background-color: #009688;
  border: none;
  border-radius: 0;
  margin-bottom: 0;
}

.navbar-brand {
  padding: 0px; /* firefox bug fix */
}

.navbar-brand>img {
  height: 100%;
  padding: 15px; /* firefox bug fix */
  width: auto;
}

.dropdown-menu {
  border-color: #008a7c;
  background-color: #009688;
}

#header_navigation_items li a {
  color: white;
}

#header_profile_avatar {
  height: 40px;
  width: 40px;
  vertical-align: middle;
  border-radius: 50% 50% 50% 50%;
}

.header_button {
  display: inline-block;
  color: white;
}

#main_content {
  min-height: 100vh;
}

#main_content_top {
  height: 300px;
  background-image: url(../img/banner_full.png);
  background-position: center;
  background-size: cover;
}

#main_content_tiles {
  position: relative;
  top: -150px;
  margin: 0px auto 0px auto;
  width: 60vw;
}

.acu_tile {
  padding: 16px;
  background-color: white;
  display: inline-block;
  width: 100%;
  margin-bottom: 50px;
  border-radius: 2px 2px 2px 2px;
  box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.3);
  overflow: hidden;
}

.acu_tile h1 {
  margin-top: 0;
  margin-bottom: 10px;
}

.navbar-toggle {
  border: none;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: white;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
  background-color: #008a7c;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
  background-color: #008a7c;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: transparent;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
    color: rgba(255,255,255,0.6);
    background-color: #008a7c;
}

.navbar-default .navbar-nav>li>a {
    color: rgba(255,255,255,1);
}

.dropdown-menu .divider {
    background-color: #19A094;
}

.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover {
    background-color: #008a7c;
}

#header_menu_user a {
  color: white;
}

/* SEARCH VIEW STYLE */
.acu_search_view {
  display: flex;
  border: solid 1px lightgray;
}

.acu_search_input {
  order: 2;
  border-style: none;
  flex: 1 1 auto;
  padding: 10px;
}

.acu_search_btn {
  cursor: pointer;
  height: 50px;
  max-width: 50px;
  width: 50px;
  order: 3;
  background-color: white;
  border-style: none;
}

.acu_search_img:before {
  color: rgb(204, 204, 204);
  position: relative;
  top: 1px;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  content: "\e003"; /* Icone de recherche - Loupe */
}



.elt_form_err {
	background-color: #FFC0CB;
}


#login_form{
	margin-right: auto;
	margin-left: auto;
	margin-top: 5%;
	margin-bottom: 10%;
	width: 200px;
}

/* ENDOF SEARCH VIEW STYLE */
